/* Container for the Home page */
.home-container {
  margin-top: 0px;
  text-align: center; /* Centers text horizontally */
  background-color: #2c3e50;
  height: 18vh;
  width: 100%; /* Make container full width */
  box-sizing: border-box; /* Include padding in width */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align content to top */
  align-items: center; /* Center children horizontally */
}

/* Main title */
.home-title {
  font-family: "Arial", sans-serif;
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 20px;
}

/* Subtitle / paragraph */
.home-subtitle {
  margin-top: -10px;
  font-family: "Arial", sans-serif;
  font-size: 15px;
  color: #bfdddf;
}
