.home-container {
  padding: 40px;
  text-align: center;
  background-color: #0b0f30;
  height: 80px; 
}

.home-header {
  display: grid;
  grid-template-columns: 1fr auto; 
  align-items: start;
  margin-bottom: 30px;
}


.title-section {
  text-align: left;
}

.home-title {
  font-size: 50px;
  text-align: left; 
  margin-top: 0; 
  color: rgb(200, 200, 255);
  margin-bottom: 20px;
  font-weight: ;
}

.sub-title {
  font-size: 20px;
  text-align: left; 
  margin-top: 10px;
  color: rgb(200, 200, 255);
}


.filter-button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  gap: 10px;
}

.head-filter {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-start; 
  margin-left: 0;
  color: white; 

