/* Container for the Home page */
.home-container {
  margin-top: -10px;
  padding: 30px;
  text-align: center; /* Centers text horizontally */
  background-color: #2c3e50;
  height: 21vh;
  width: 100%; /* Make container full width */
  box-sizing: border-box; /* Include padding in width */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align content to top */
  align-items: center;
}

/* Header wrapper: title + button */
.home-header {
  width: 100%;
  display: flex;
  justify-content: space-between; /* Title left, button right */
  align-items: center;
}

/* Main title */
.home-title {
  font-family: "Arial", sans-serif;
  font-size: 30px;
  color: #ffffff;
  margin-top: 0px;
  text-align: center;
}

/* Subtitle / paragraph */
.home-subtitle {
  margin-top: 5px;
  font-family: "Arial", sans-serif;
  font-size: 15px;
  color: #ffffff;
  margin-left: 470px;
}

.head-filter {
  position: relative; /* take it out of flex flow */
  left: 0; /* align to left edge */
  top: 50%; /* vertically center */
  transform: translateY(-50%);
  margin-left: 20px; /* optional small gap from edge */
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.head-filter label {
  color: white;
  font-size: 18px;
}

.category-filter {
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20%;
}
