.cart-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  color: black;
  padding: 20px;
  width: 350px;
  border-radius: 10px;
  z-index: 9999;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
}
