/* Product grid */
.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

/* Card styling */
.product-card {
  background-color: #aaa4fc;
  padding: 20px;
  gap: 10px;
  border-radius: 10px;
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 5px;
  margin: 15px 0 10px 0; /* fix ghost layer at top */
}

.product-card h3 {
  margin: 5px 0;
  font-size: 1.1em;
  color: #2c3e50;
}

.price-stock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin: 10px 0;
}

.stock-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: bold;
  margin: 10px 0;
}

.stock-counter button:hover {
  background: #0056b3;
}

.quantity-container {
  font-weight: bold;
}

/* Low stock text */
.low-stock {
  color: red;
  font-weight: bold;
}

/* Filter dropdown */
.filter-container {
  margin-bottom: 20px;
  font-weight: bold;
}

.filter-container select {
  margin-left: 10px;
  padding: 4px 8px;
  border-radius: 5px;
}

/* GREEN + Button */
.btn-plus {
  padding: 4px 10px;
  border: none;
  border-radius: 5px;
  background: #28a745;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.btn-plus:hover {
  background: #1e7e34;
}

/* RED - Button */
.btn-minus {
  padding: 4px 10px;
  border: none;
  border-radius: 5px;
  background: #dc3545;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.btn-minus:hover {
  background: #b52a37;
}

.btn-cart {
  color: white;
  background-color: #007bff;
  border: 1px solid black !important;
  width: 92%;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}

/* Disabled state */
button:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}
