.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-top: 4%;
}

.product-card {
  margin-top: 50px;
  background-color: #d3d3d3;
  padding: 15px;
  border-radius: 10px;
  width: 200px;
  text-align: center;
  margin-bottom: 50px;
  color: black;
  box-shadow: 3px 3px 10px rgba(100, 100, 255, 0.3);
}

.product-card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-bottom: 10px;
}

.justified-text {
  text-align: justify;
}

.stock-plus-btn,
.stock-minus-btn {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin: 0 2px;
}

.stock-plus-btn {
  background-color: #28a745; /* Green */
  color: white;
}

.stock-minus-btn {
  background-color: #ff8c00; /* Orange */
  color: white;
}

.red-delete-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid;
}
